<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!--<h1> Anubhav Madhav is a very good boy.</h1>-->
<!--<br>-->
<!--{{ name }} is from {{ place }}                  &lt;!&ndash; This is how we access variables in templates from views &ndash;&gt;-->
<h1 style='text-align:center;'>Welcome to Text Analyzer.</h1>
<h2 style='text-align:center;'>Enter your text below</h2>
<form action='\removepunc' method='get'>
<textarea name='text' style="margin: 0px; width: 1506px; height: 293px; font-size:25px;"></textarea>
    <button type="submit" style='font-size:25px;position:relative;left:680px;'>Analyze Text</button>
  </form>
</body>
</html>