<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<!--<h1> Anubhav Madhav is a very good boy.</h1>-->
<!--<br>-->
<!--{{ name }} is from {{ place }}                  &lt;!&ndash; This is how we access variables in templates from views &ndash;&gt;-->
<h1 style='text-align:center;'>Welcome to Text Analyzer</h1>
<h2 style='text-align:center;'>Enter your text below</h2>
<form action='\analyze' method='get'>
<textarea name='text' style="margin: 0px; width: 1506px; height: 293px; font-size:25px;"></textarea>
    <input type='checkbox' name="removepunc">Remove Punctuations <br>
    <input type='checkbox' name="fullcaps">UPPER CASE <br>
    <input type='checkbox' name="newlineremover">Remove New Line <br>
    <input type='checkbox' name="spaceremover">Remove Space <br>
    <input type='checkbox' name="charcount">Count all characters <br>
    <input type='checkbox' name="extraspaceremover">Remove Extra Spaces <br>
    <button type="submit" style='font-size:25px;position:relative;left:680px;'>Analyze Text</button>
  </form>
</body>
</html>